/* BOTONES */
.botonVerde {
  margin-left: 10px;
  border-radius: 8px;
  padding: 5px 20px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  background-color: #2ecc71;
  height: 40px;
  text-decoration: none;
}

.botonVerde:hover {
  background-color: #27ae60;
}

.botonVerde:active {
  background-color: #27ae60;
}

.botonAzul {
  margin-left: 10px;
  border-radius: 8px;
  padding: 5px 20px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  background-color: #3498db;
  height: 40px;
}

.botonAzul:hover{
  background-color: #256b9be3;

}

/* TABLA */
.encabezadoTabla {
  background-color: #ecf0f1;
  color: #2c3e50;
  border-collapse: collapse;
  height: 70px;
}

.tablaTodos {
  width: 80%;
  margin: 0 auto;  /* Centra la tabla horizontalmente */
  table-layout: auto;
}

.FinalTabla {

  border-bottom: 1px solid #ccc;
}

/* TITULOS */

.tituloPrincipal {
  padding-bottom: 6%;
  padding-top: 2%;
  text-align: center;
}

/* LINEA */

.lineaAccion {
  border: none;
  border-top: 1px solid #bdc3c7;
  width: 80%;
  margin: 8px 0;
}



/* INPUTS */
.input {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  width: auto;
  height: 40px;

}
